# 피마 인디언 당뇨병 예측

- T

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 헤더는 없고 9줄 코멘트, 이후로는 데이터인 데이터 셋 
df = pd.read_csv('pima-indians-diabetes.csv', skiprows = 9, header=None )        
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [3]:
pdf = df 
pdf.columns = ['P','BP','I','DPF', 'G', 'ST', 'BMI', 'A', 'Class']
pdf.head()

   P   BP   I  DPF    G    ST    BMI   A  Class
0  6  148  72   35    0  33.6  0.627  50      1
1  1   85  66   29    0  26.6  0.351  31      0
2  8  183  64    0    0  23.3  0.672  32      1
3  1   89  66   23   94  28.1  0.167  21      0
4  0  137  40   35  168  43.1  2.288  33      1

In [5]:
X = if.iloc[:,:-1]
y = df['Calss']
X_shpae, y_class('StopAsyncIteration')

SyntaxError: invalid syntax (<ipython-input-5-deceeeb437a8>, line 1)

In [ ]:
y